POSTGRES_DB=absensi_mantu
POSTGRES_USER=absensi_mantu
POSTGRES_PASSWORD=ganti_dengan_password_database_yang_kuat
APP_JWT_SECRET=ganti_dengan_random_secret_minimal_32_karakter
POSTGRES_HOST_PORT=5452
POSTGREST_HOST_PORT=8108
FRONTEND_PORT=7109
